body {
  --directional-radius: 40%;
  --circle-radius: 50%;
  --button-short: 30%;
  --button-tall: 80px;

  --forward-reverse-width: 50%;

  --button-active: red;

  height: calc(100vh - 16px);
  display: grid;
  grid-template-rows: auto 95%;

  /* background-color: darkred; */
  margin: 0;
  padding: 8px;

  font-size: 3.5rem;

  text-align: center;
}

button {
  border-style: solid;
  border-color: gray;
}

button:active {
  background-color: rgb(112, 112, 112);
  color:rgb(212, 212, 212);
}

.content {
  display: grid;
  grid-template-rows: 40% 5% 40% 15%;
  grid-template-columns: 100%;
  justify-content: space-around;
  align-items: center;

  /* background: aquamarine; */
  height: 100%;
  padding: 0 8px 0 8px;

}

.light-toggle {
  display: flex;
  justify-content: end;
  height: 100%;
  width: 100%;
}

.light-toggle button {
  height: 100%;
  width: 25%;
  font-size: 3.5rem;
}

.camera {
  /* background-color: lightpink; */
  min-height: 144px;
  height: 100%;
  width: 100%;
  margin-bottom: 16px;
  border: solid 1px darkgray;
}

.nav-buttons {
  /* background-color: blanchedalmond; */

  display: grid;
  grid-template:
      "left forward right" 240px
      "left stop right" 180px
      "left reverse right" 240px / 25% auto 25%;
}

.nav-buttons button {
  font-size: 3.5rem;
}

.nav-buttons .forward {
  grid-area: forward;

  height: 95%;
  align-self: start;
  border-radius: 50% 50% 10px 10px;
}

.nav-buttons .left {
  grid-area: left;

  margin-right: 16px;
  height: 70%;
  align-self: center;
  border-radius: 50% 10px 10px 50%;
}

.nav-buttons .stop {
  grid-area: stop;
  border-radius: 16px;
  align-self: center;
  justify-self: center;
  height: 90%;
  width: 90%;
}

.nav-buttons .right {
  grid-area: right;

  margin-left: 16px;
  height: 70%;
  align-self: center;
  border-radius: 10px 50% 50% 10px;
}

.nav-buttons .reverse {
  grid-area: reverse;

  height: 95%;
  align-self: end;
  border-radius: 10px 10px 50% 50%;
}

.settings {
  /* background-color: lightskyblue; */
  margin-top: 16px;
  width: 100%;
}

.settings-input {
  /* background-color: beige; */

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 8px 0 8px 0;
  margin: 16px 0;
}

.settings-input input,
.settings-input select {
  height: 100%;
  width: 65%;
  font-size: 3rem;
}

option {
  font-size: 0.75rem;
}

.settings-input input[type=range] {
  -webkit-appearance:none;

  height:35px;
  background-color:#2ea932af;
  cursor:pointer;
  margin:0
}

.settings-input input[type=range]::-webkit-slider-thumb {
  -webkit-appearance:none;

  border:1px solid rgba(0,0,30,0);
  height:48px;
  width:22px;
  border-radius:5px;
  background:#016f05;
  cursor:pointer;
}
